Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-core.StackAddressEscape,
  bugprone-*,
  performance-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,

WarningsAsErrors: ""

HeaderFilterRegex: "src/native/(lib|python)/.*"

ExcludeHeaderFilterRegex: "(.*pybind11.*|.*boost.*|.*tests.*|/usr/include.*)"
