Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-core.StackAddressEscape,
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,

HeaderFilterRegex: "src/native/(lib|python)/.*"
