QListWidget[uiRole="historyList"] {
    background: $background_dark;
    border: none;
    outline: none;
    color: $text_secondary;
}

QListWidget[uiRole="historyList"]::item {
    border: none;
    padding: 0px;
    text-align: right;
    background: $background_dark_alt;
}

QListWidget[uiRole="historyList"]::item:alternate {
    background: $background_dark;
}

QListWidget[uiRole="historyList"]::item:selected {
    background: $selection_background;
    color: $selection_text;
}

/* HistoryItem expression slot */
QWidget#historyItem QWidget[exprSlot="true"] {
    background: transparent;
}

QWidget#historyItem QWidget[exprSlot="true"] QLineEdit {
    background: transparent;
    border: none;
}

QWidget#radicandSlot, QWidget#radicandSlot:focus {
    border-top: 2px solid $selection_text;  /* make this global and other math expression styles */
}

QWidget#historyItem QScrollArea#historyExprScroll {
    background: transparent;
}
