/* Display */
QLineEdit[exprInput="true"] {
    border: none;
    background-color: transparent;
    color: $text_secondary;
    selection-background-color: $selection_background;
    selection-color: $selection_text;
}

QWidget[exprSlot="true"][exprSlotKind="aux"] {
    background-color: transparent;
}

QWidget[exprSlot="true"][exprSlotKind="aux"] QLineEdit[exprKind="aux"]:focus,
QWidget[exprSlot="true"][exprSlotKind="script"] QLineEdit[exprKind="script"]:focus {
    background-color: $background_light;
}

QWidget#radicandSlot, QWidget#radicandSlot:focus {
    border-top: ${root_border_width}px solid $selection_text;
}

QScrollArea#displayExpression,
QScrollArea#displayExpression QWidget#qt_scrollarea_viewport,
QWidget#displayExpressionEditor {
    background-color: $background_dark;
}

QLabel#displayResult {
    color: $text_primary;
}

QFrame#displayDivider {
    min-height: ${divider_height}px;
    max-height: ${divider_height}px;
}

